body{
    font-size: 20px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa99YyHBmzieZMIZYWSAOavGsIGvlS2fn153XFnmjhSi5L8vVN");
};

#Intro{
    text-align: center;

};

.mainheader{
    font-size: 30px;
};

#Projects{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: dotted;
};
#ABOUT{
    text-align: center;
};
    